.hero {
    background-color: rgba(19, 19, 219, 0.904);
    padding: .25px;
}

.title {
    flex: auto;
    text-align: center;
    color: white;
}

.btn {
    padding: .5% 6.5%;
    margin: 10px 0px;
    background-color: rgba(0, 41, 224, 0.767);
}

/*figure out how to put a box where the pulled data can be*/
/*done*/
.box {
    display: flex;
    width: 75%;
    height: 250px;
    border: 2px solid;
    padding: 3px;
    margin: -125px 350px 400px;
}

.forecast-text {
    margin-top: -400px;
    margin-left: 350px;
    text-decoration: underline;
    font-size: 30px;
}

#cityname {
    width: 293px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.day-box1 {
    border: 1px solid;
    height: 300px;
    width: 250px;
}

.day-box2 {
    border: 1px solid;
    height: 300px;
    width: 250px;
}

.day-box3 {
    border: 1px solid;
    height: 300px;
    width: 250px;
}

.day-box4 {
    border: 1px solid;
    height: 300px;
    width: 250px;
}

.day-box5 {
    border: 1px solid;
    height: 300px;
    width: 250px;
}